:local(.progress) {
    background-color: #545454;
    position: relative;
}

:local(.progressBar) {
    background-color: #43b7e1;
    min-height: 20px;
}

:local(.progressValueHolder) {
    width: 100%;
}
:local(.progressValue) {
    float: right;
}
