:local(.carousel) {
    position: relative;
    width: 50%;
    left:25%;
}

:local(.carouselSlides)
{
    list-style: none;
}

:local(.carouselSlide) {
    margin-right: auto;
    margin-left: auto;
    display: none;
    max-width: 900px;
    list-style-type: none;
    text-align: center;
}

:local(.carouselSlide--active) {
    display: block;
}

:local(.carouselSlideContent) {
    width: 100%;
    height: auto;
}

:local(.carouselSlideContainer) {
    position: relative;
}

:local(.carouselSlideName),
:local(.carouselSlideSource) {
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
}

@media (min-width: 992px) {
    :local(.carouselSlideName),
    :local(.carouselSlideSource) {
        font-size: 16px;
    }

}

:local(.carouselSlideSource) {
    font-style: italic;
    color: #888;
}

:local(.carouselArrow) {
    position: absolute;
    height: 100%;
    width: 5%;
    top: 50%;
    color: black;
    cursor: pointer;
    opacity: 1;
    background-color: transparent;
    transform: translateY(-50%);
}

:local(.carouselArrow:focus) {
    outline: 0;
}

:local(.carouselArrow:hover) {
    opacity: .5;
    color: white;
    background-color: #111;
}

:local(.carouselArrow--left) {
    left: 0;
}

:local(.carouselArrow--right) {
    right: 0;
}

:local(.carouselArrow--icon) {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

:local(.carouselIndicators) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

:local(.carouselIndicators) > :local(li:nth-of-type(n + 2)) {
    margin-left: 9px;
}

:local(.carouselIndicator) {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #111;
    cursor: pointer;
    opacity: .15;
    transition: opacity .15s cubic-bezier(.4, 0, 1, 1);
}

:local(.carouselIndicator:hover) {
    opacity: .5;
}

:local(.carouselIndicator--active),
:local(.carouselIndicator--active:hover) {
    opacity: .75;
}
