:local(.text){
    font-family: "Open Sans", sans-serif;
    color: black;
}

:local(.centerName) {
    composes: text;
    text-align: left;
    font-size: 40px;
}

:local(.title){
    margin: 0;
}

:local(.subTitle) {
    composes: text;
    font-size: 25px;
    padding: 15px 0 0 0;
}

:local(.centerDescription) {
    composes: text;
    text-align: left;
    font-size: 20px;
}

:local(.divLine) {
    margin: 20px 0 0 0;
    width: 60%;
    background-color: black;
    height: 3px;
}