:local(.container) {
    padding: 20px 0 0 0;
}

:local(.projectDescription) {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 20px;
}

:local(.carouselContainer) {
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}

:local(.carouselImage) {
    height: 100%;
    width: auto;
}