:local(Link){
    color: white;
}

:local(Link:hover){
    color: white;
}

:local(a){
    color: white;
}

:local(a:hover){
    color: white;
}

:local(.projectMiniature) {
    position: relative;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    margin-top: 20px;
}

:local(.projectMiniature img) {
    min-width: 100%;
    min-height: 100%;
}

:local(.projectName) {
    background-color: #49464b;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top: 25%;
    width: 100%;
    height: 50%;
    z-index: 2;
}

:local(.projectName:hover) {
    opacity: 0.8;
}

:local(.projectMiniatureLink) {
    max-width: 350px;
    height: auto;
    display: inline-block;
    background-color: mediumpurple;
    color: white;
    vertical-align: top;
    transition: background-color 0.7s;
    overflow: hidden;
}

:local(.projectMiniatureImage) {
    width: 100%;
    height: auto;
    max-height: 100%;
}

:local(.projectMiniatureTitle) {
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
    position: relative;
}

:local(.projectMiniatureBody) {
    text-align: center;
    position: relative;
    margin: 0;
    top: 10%;
    width: 100%;
    font-size: 25px;
}

:local(.projectMiniatureStatus) {
    width: 100%;
    height: 10%;
    background-color: black;
    border-color: black;
    opacity: 1;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

:local(.projectMiniatureStatusTextHolder) {
    position: relative;
    height: 100%;
    flex: 1;
    padding: 5px;
}

:local(.projectMiniatureStatusText) {
    position: relative;
    top: 20%;
    float: left;
    font-size: 20px;
}

:local(.projectMiniatureStatusIconHolder) {
    position: relative;
    height: 100%;
    flex: 1;
    padding: 5px;
}

:local(.projectMiniatureStatusIcon) {
    height: 70%;
    width: 15%;
    border-radius: 50%;
    display: inline-block;
    transform: translateY(18%);
    float: right;
    margin-right: 5px;
    overflow: hidden;
}

:local(.projectMiniatureStatusIconCompleted) {
    composes: projectMiniatureStatusIcon;
    color: #00b100;
    background-color: #00b100;
}

:local(.projectMiniatureStatusIconOngoing) {
    composes: projectMiniatureStatusIcon;
    color: #03b17d;
    background-color: #03b17d;
}

:local(.projectMiniatureStatusIconAborted) {
    composes: projectMiniatureStatusIcon;
    color: #b10005;
    background-color: #b10005;
}

:local(.projectMiniatureStatusIconOnHold) {
    composes: projectMiniatureStatusIcon;
    color: #b15e00;
    background-color: #b15e00;
}

@media screen and (max-width: 1000px) {
    :local(.projectMiniatureBody) {
        font-size: 20px;
    }

    :local(.projectMiniatureTitle) {
        font-size: 45px;
    }

    :local(.projectMiniatureLink) {
        min-width: 300px;
    }
}