body, html {
    background: url("./Images/wood.png") repeat center center fixed;
}

:local(.contentContainer){
    background-clip: content-box;
    height: 100%;
}

:local(.content) {
    padding: 50px 20% 0 20%;
    min-width: 180px;
}