#loginForm {
    text-align: center;
}

#loginForm form {
    background-color: orange;
    display: inline-block;
    padding: 20px;
    width: 400px;
    text-align: left;
}

#loginForm input {
    margin: 10px;

}

#logoutButton, #loginForm {
    position: absolute;
    top: 10px;
    right: 10px;
}

#projectForm form{
    width: 400px;
    display: inline-block;
    text-align: left;
    background-color: grey;
    padding: 30px;
    margin: 10px;
}

#projectForm {
    position: static;
    text-align: center;
}

#mainBody {
    text-align: center;
    transition: opacity 1s;
}

.deleteForm {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

#projectImages .image {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: inline-block;
    margin: 20px;
    position: relative;
}

#projectImages {
    text-align: center;
}

#projectImages .image form {
    position: absolute;
    right: 0;
    top: 0;
}

#projectDetails {
    margin: 20px;
}

.timelineMiniature {
    width: 400px;
    background-color: mediumpurple;
    position: relative;
    display: block;
    text-align: left;
    padding: 15px;
    margin-bottom: 20px;
}

.timelineMiniature form {
    position: absolute;
    top: 0;
    right: 0;
}

#mainBodyTimeline {
    position: static;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    border-left: 2px solid white
}

#timeline {
    text-align: center;
}

